<div class="container">
  <div class="row">

    <div class="col-sm-5">
      <div class="user-show-img-size">
        <%= image_tag @user.avatar, width: 400, class:"img-responsive" %>
      </div>
    </div>

    <div class="col-sm-7">
      <h2><%= @user.name %></h2>
      <p><strong><%= @user.email %></strong></p>
      <div><%= simple_format @user.intro %></div>
      <%= link_to '編輯', edit_user_path(@user), class:"btn btn-primary" %>
    </div>

  </div>
</div>
