<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail text-center">
        <% if restaurant.image? %>
          <%= image_tag restaurant.image.thumb %>
        <% else %>
          <span class="glyphicon glyphicon-picture"></span>
        <% end %>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <p class="label label-warning"><%= restaurant.category_name %></p>
        <p><%= truncate restaurant.description, length:80 %></p>
      </div>
    </div>
  <% end %>
</div>

<!-- 有generate kaminari paginate bootstrap style -->
<div class="text-center">
  <%= paginate @restaurants %>
</div>
