<div class = "container">
  <h1>餐廳後台
    <div class="pull-right">
        <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-default" %>
    </div>
  </h1>

  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag restaurant.image, class: "img-thumbnail center-block", width:300, height:200 %>
        <h3><%= restaurant.name %></h3>
        <p><%= truncate restaurant.description, length:140 %></p>
          <div>
            <button type="button" class="btn btn-default">
              <%= link_to "<span class='glyphicon glyphicon-eye-open'></span> 內容".html_safe, admin_restaurant_path(restaurant) %>
            </button>
            <button type="button" class="btn btn-default">
              <%= link_to "<span class='glyphicon glyphicon-edit'></span> 編輯".html_safe, edit_admin_restaurant_path(restaurant) %>
            </button>
            <button type="button" class="btn btn-default">
              <%= link_to "<span class='glyphicon glyphicon-trash'></span> 刪除".html_safe, admin_restaurant_path(restaurant), method: :delete, data: {confirm: "你確定要刪除嗎？"} %>
            </button>
          </div>
      </div>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <%= paginate @restaurants %>
  </div>
</div>
