<h1><%= @restaurant.name %></h1>

Tel: <%= @restaurant.tel %><br>
Address: <%= @restaurant.address %><br>
Opening hours: <%= @restaurant.opening_hours %><br>
Description: <%= @restaurant.description %><br>

<br>

<%= link_to 'back to index', admin_restaurants_path %>
